<h1>hi</h1>

@model activity_belt_demo.Models.ActivityPlanViewModel
<form asp-action="CreateActivityPlan" asp-controller="Activity" method="POST">
    <label asp-for="Title"></label>
    <input asp-for="Title"/>
    <span asp-validation-for="Title"></span><br>
    <label asp-for="StartDate"></label>
    <input asp-for="StartDate"/>
    <span asp-validation-for="StartDate"></span><br>
    <label asp-for="Duration"></label>
    <input asp-for="Duration"/>
    <span asp-validation-for="Duration"></span><br>
    <label asp-for="DurationType"></label>
    <select asp-for="DurationType">
        <option value="days">days</option>
        <option value="hours">hours</option>
        <option value="minutes">minutes</option>
    </select>
    <span asp-validation-for="DurationType"></span><br>
    <label asp-for="Description"></label>
    <input asp-for="Description"/>
    <span asp-validation-for="Description"></span><br>
    <input type="submit" value = "add Activity"/>
</form>